<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:if="${session['flash.message']}">
		<p th:text="${session['flash.message']}" style="color: green;"></p>

	</div>

	<div th:if="${#authentication != null}">
		<span>Bienvenido, <span th:text="${#authentication.name}">Usuario</span></span>
	</div>
	<div class="home-container">
    <div class="image-container">
        <img th:src="@{/images/org_2.png}" class="image" alt="Background Image">
    </div>
    <div class="title-container">
        <h1 class="title">
            <b class="brace">{</b>
            <b class="main-title"><span class="title-text">V-Chan</span></b>
            <b class="brace">}</b>
        </h1>
    </div>
</div>

	
</body>
</html>
