<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:if="${session['flash.message']}">
		<p th:text="${session['flash.message']}" style="color: green;"></p>

	</div>

	<!-- <div th:if="${#authentication != null}">
		<span>Bienvenido, <span th:text="${#authentication.name}">Usuario</span></span>
	</div> -->
	<div align="center">
		<div class="container_image">
			<div class="container-image">
				<img th:src="@{/images/org_2.png}" class="image">
			</div>
		</div>
		<div class="container_title">
			<h1 class="h1_home">
				<b class="ace decaration_home">{</b><b class="HWNAT26 decaration"><span
					class="title_home">V-Chan</span></b><b class="ace decaration_home">}</b>
			</h1>
		</div>
	</div>
	
</body>
</html>
