<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados de la Búsqueda</title>
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>DNI</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.id}"></td>
            <td th:text="${persona.name}"></td>
            <td th:text="${persona.email}"></td>
            <td th:text="${persona.dni}"></td>
        </tr>
    </table>
    <a href="/personas/buscar">Volver a Buscar</a>
</body>
</html>