<!DOCTYPE html>
<html>
<body>
	<section class="profile-section">
		<div class="profile-container">
			<div class="fix">foto</div>
<div class="info-user">
    <div>
        <h2>Usuario <span>🜲</span></h2>
        <p>Administrador</p>
        <p>laydo@gmail.com</p>
        <p>Cuenta publica</p>
        <button>Editar</button>
        <button>Seguir</button>
    </div>
    <section>
        <div>
            <p>0</p>
            <p>Seguidores</p>
        </div>
        <div>
            <p>0</p>
            <p>Seguidos</p>
        </div>
    </section>
</div>
			<div class="fix">Notificaciones</div>
			<div class="post-container">
				<div class="fix">mis arts</div>
				<div class="fix">mis forum</div>
			</div>
		</div>
	</section>
</body>
</html>