<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
	<section class="profile-section">
		<div class="profile-container">
			<div class="foto-user">
				<div class="background-image">
					<img class="overlay-image"
						th:src="@{'/images/users/' + ${id} + '/' + ${profileFoto}}"
						alt="Foto perfil" width="200" height="200">
				</div>
			</div>
			<div class="info-user">
				<div>
					<h2>
						<span th:text="${#authentication.name}"></span> <span
							sec:authorize="hasRole('ADMIN')">🜲</span>
					</h2>

					<p sec:authorize="hasRole('ADMIN')">Administrador</p>
					<p sec:authorize="hasRole('USER')">Usuario</p>

					<p th:text="${email}"></p>
					<p th:text="${type}"></p>
					<br>
				</div>
				<section>
					<div>
						<p>0</p>
						<p>Seguidores</p>
					</div>
					<div>
						<p>0</p>
						<p>Seguidos</p>
					</div>
				</section>
			<div class="config-container">
				<span class="gumi icon-configuration shadow-icon" id="configButton">J</span>
				<span class="message" id="configMessage">Ir configuración de perfil</span>
			</div>

			</div>
			<div class="fix">Notificaciones</div>
			<div class="post-container">
				<div class="fix">mis arts</div>
				<div class="fix">mis forum</div>
			</div>
		</div>
	</section>
	<form th:action="@{/profile/update-photo}" method="post"
		enctype="multipart/form-data">
		<input type="file" name="profilePhoto" accept="image/*" required>
		<button type="submit">Actualizar Foto</button>
	</form>
	<div id="imageModal" class="modal" style="display: none;">
		<div class="modal-content">
			<h2 id="modalMessage">Guardando imagen...</h2>
			<p id="countdown">1</p>
		</div>
	</div>
	<div th:if="${showModal}">
		<script>
			window.onload = function() {
				showModal();
			};
		</script>
	</div>
	<script th:src="@{/js/app.js}"></script>

</body>
</html>