<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
	<section class="profile-section">
		<div class="profile-container">
			<div class="foto-user">
				<div class="background-image">
					<img class="overlay-image"
						th:src="@{'/images/users/' + ${id} + '/' + ${profileFoto}}"
						alt="Foto perfil" width="200" height="200">
				</div>
			</div>
			<div class="info-user">
				<div>
					<h2>
						<span th:text="${#authentication.name}"></span> <span
							sec:authorize="hasRole('ADMIN')">🜲</span>
					</h2>

					<p sec:authorize="hasRole('ADMIN')">Administrador</p>
					<p sec:authorize="hasRole('USER')">Usuario</p>

					<p th:text="${email}"></p>
					<p th:text="${type}"></p>
					<br>
				</div>
				<section>
					<div>
						<p>0</p>
						<p>Seguidores</p>
					</div>
					<div>
						<p>0</p>
						<p>Seguidos</p>
					</div>
				</section>
				<div class="config-container">
					<span class="gumi icon-configuration shadow-icon "
						id="configButton">J</span> <a class="message" id="configMessage"
						href="/profile/me/settings">Ir configuración de perfil</a>
				</div>

			</div>
			<div class="container-config-item">Notificaciones</div>
			<div class="post-container">
				<div class="container-config-item">mis arts</div>
				<div class="container-config-item">mis forum</div>
			</div>
		</div>
	</section>


	<script th:src="@{/js/profile.js}"></script>
		<script th:src="@{/js/config.js}"></script>
	
</body>
</html>