<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
	<div class="profile-section">
		<br>
		<section class="configuration-container ">
			<div class="left-column">
				<div class="foto-user">
					<div class="background-image">
						<img class="overlay-image"
							th:src="@{'/images/users/' + ${id} + '/' + ${profileFoto}}"
							alt="Foto perfil" width="200" height="200">
					</div>
					<br>
					<div>
						<h2>
							<span th:text="${#authentication.name}"></span> <span
								sec:authorize="hasRole('ADMIN')">🜲</span>
						</h2>
					</div>
				</div>
				<div class="container-config-item" id="section-1">
					<p>Edit My Profile</p>
				</div>
				<div class="container-config-item" id="section-3">
					<p>Change Photo</p>
				</div>
				<div class="container-config-item" id="section-5">
					<p>Change Password</p>
				</div>
				<div class="container-config-item" id="section-7">
					<p>Policies and Privacy</p>
				</div>
			</div>

			<div class="right-column">
				<div th:if="${message}">
		<p th:text="${message}"></p>
	</div>
				<div class="container-config-item" id="section-2" hidden=true>Section
					2</div>
				<div class="container-config-item" id="section-4" hidden=true>
					<p th:text="${menssage}"></p>
					<form th:action="@{/profile/update-photo}" method="post"
						enctype="multipart/form-data">
						<input type="file" name="profilePhoto" accept="image/*" required>
						<button type="submit">Actualizar Foto</button>
					</form>

				</div>
				<div class="container-config-item" id="section-6" hidden=true>
					<form action="/change-password" method="post" class="password-form">
					
						<h2>Cambiar Contraseña</h2>
						<div class="form-group">
							<label for="currentPassword">Contraseña Actual:</label> <input
								type="password" id="currentPassword" name="currentPassword"
								placeholder="Introduce tu contraseña actual">
						</div>

						<div class="form-group">
							<label for="newPassword">Nueva Contraseña:</label> <input
								type="password" id="newPassword" name="newPassword" required
								placeholder="Introduce una nueva contraseña">
						</div>

						<div class="form-group">
							<label for="confirmPassword">Confirmar Nueva Contraseña:</label>
							<input type="password" id="confirmPassword"
								name="confirmPassword" required
								placeholder="Confirma tu nueva contraseña">
						</div>

						<button type="submit">Actualizar Contraseña</button>
					</form>

				</div>
				<div class="container-config-item" id="section-8" hidden=true>Section
					8</div>
			</div>
		</section>

		<div id="imageModal" class="modal" style="display: none;">
			<div class="modal-content">
				<h2 id="modalMessage">Guardando imagen...</h2>
				<p id="countdown">1</p>
			</div>
		</div>
		<div th:if="${showModal}">
			<script>
				window.onload = function() {
					showModal();
				};
			</script>
		</div>
	</div>

	<script th:src="@{/js/config.js}"></script>
</body>
</html>