<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:if="${param.error}">
        <p style="color: red;">Usuario o contraseña incorrectos. Inténtalo de nuevo.</p>
        
    </div>
    <div th:if="${param.logout}">
        <p>Sesión cerrada correctamente.</p>
    </div>
    <form action="#" th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required"/>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required"/>
        
        <button type="submit">Login</button>
        <span>Si no estas registrado, <a th:href="@{/register}">Registrate aquí</a></span>
    </form>
</body>
</html>