/* Asegúrate de que el cuerpo y el html ocupen toda la altura de la pantalla */
html, body {
  height: 100%;
  margin: 0;
  font-family:AnimeAce;
}

/* Contenedor principal que envuelve el contenido */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Hace que ocupe toda la altura disponible */
}

/* El contenido principal que debe tomar el espacio restante */
.content {
  flex: 1; /* Toma todo el espacio restante */
}

/* Estilos del footer */
.footer {
bottom:0;
	right:0;

  text-align: center;
  color: #eaecee;
  background-color: #212121;
  margin: 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer h1 {
  margin: 0;
  font-size: 2rem;
}

.navtop{
	top:0;
	left:0;	
	background-color: #212121;
  	color: white;
  	width: 100%;
  	overflow: hidden;
  	z-index: 1000; 
  	
}

.icon {
  position: relative;
  float: left;
  margin: 7px 15px 1px 25px;
  padding: 0 0 0 0;
}
.navlink .section2{
	  color: #ffffff;

}
.section2 {
  text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin: 20px 16px 23px 16px;
  padding: 0;
  font-size: 20px;
}
.navsub {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 0px;
  color: #fff;
}
.subnavitems {
  background: #aaa;
  color: #fff;
  padding: 10px 15px;
}

.containerForm{
    width: 25%;
    padding: 2%;
    margin: 25px 0px 25px 0px;
    background: #f8f9f9;
    border: 5px solid #212121;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inputSubmitForm{
    width: 97%;
    padding:3%;
    font-family: AnimeAce;
    background: #212121;
    color: #fff;
    border: 3px solid #212121;
    cursor: pointer;
}

.inputTextForm{
    width: 90%;
    padding:3%;
    font-family: AnimeAce;
    color: #212121;
    border: 3px solid #212121;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.inputTextForm:focus{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
label{
    font-size: 18px;
    font-family: AnimeAce;
    color: #212121;
    margin-bottom: 0.5%;
}
.h3_form{
    color: #212121;
    font-size: 50px;
    font-family: AnimeAce;
    margin-top: 10px;
    margin-bottom: 25px;
}
p{
    color: #212121;
    font-family: AnimeAce;
}
.container_image{
	position: relative;
	 width: 100%;
}
container-image{
	position: relative; top: 0; left: 0; width: 100%;
}
.image{
	opacity: 0.7; position: relative; filter: drop-shadow(8px 8px 10px gray);
}
.container_title{
	position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%); width: 100%;
}
.h1_home{
	font-size: 50px; user-select: none;
}
.decaration_home{
	font-size: 5rem; color: #212121;
}
.decaration{
	font-size: 10rem;
}
.title_home{
	text-decoration: none; color: #212121;
}
.links{
	color:#212121; text-decoration:none;
}
