<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Chat con Spring Boot y WebSocket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #message_area {
            height: 400px;
            overflow-y: auto;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
           

            <!-- Formulario de Envío de Mensajes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enviar Mensaje</h5>
                        <div class="mb-3">
                            <label for="user_name" class="form-label">Nombre de Usuario:</label>
                            <input type="text" class="form-control" id="user_name" placeholder="Introduce tu nombre">
                        </div>
                        <div class="mb-3">
                            <label for="message_input" class="form-label">Mensaje:</label>
                            <input type="text" class="form-control" id="message_input" placeholder="Introduce tu mensaje">
                        </div>
                        <button onclick="sendMessage()" class="btn btn-primary mt-3">Enviar Mensaje</button>
                    </div>
                </div>
            </div>
             <!-- Área de Mensajes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mensajes</h5>
                        <div id="message_area"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
    ///defino la conexion
        let socket = new WebSocket("ws://localhost:8080/index");
        socket.onmessage = function(event) {
            let messageArea = document.getElementById("message_area");
            messageArea.innerHTML += "<p>" + event.data + "</p>";
            messageArea.scrollTop = messageArea.scrollHeight;
        };
        function sendMessage() {
            let userName = document.getElementById("user_name");
            let messageInput = document.getElementById("message_input");
            let fullMessage = userName.value + ": " + messageInput.value;
            if (userName.value && messageInput.value) {
                socket.send(fullMessage);
                messageInput.value = "";
            } else {
                alert("Por favor, introduce tu nombre y mensaje.");
            }
        }
    </script>
</body>
</html>
